* {
    box-sizing: border-box;
}

.nav {
    position: relative;
    height: 50px;
}

ul {
    height: 50px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    opacity: 0;
    z-index: 0;
}

.menu {
    list-style-type: none;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 75px 95px;
    text-align: center;
    height: 50px;
}

body {
    margin: 0;
}

.main1 {
    box-shadow: 0px 0px 8px;
    height: 450px;
    width: 230px;
    margin: 35px;
}

.new {
    height: 30px;
    width: 60px;
    background-color: coral;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    top: 0;
    right: 0;
    position: absolute;
}

.quickview {
    height: 40px;
    width: 230px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    background-color: black;
    color: white;
    transition: .5s;
}

.shirt:hover .quickview {
    opacity: 1;
    top: 230px;
}

.info {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

strike {
    color: gray;
}

.word {
    word-spacing: 15px;
}

.addtocart {
    height: 30px;
    width: 120px;
    background: rgb(36, 168, 124);
    color: white;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    font-weight: bolder;
    transition: .5s;
}

.addtocart:hover {
    outline: 3px solid rgb(36, 168, 124);
    outline-offset: 5px;
}

.red {
    color: red;
    font-weight: bold;
}

.shirtfront {
    top: 0;
    left: 0;
    height: 250px;
    width: 230px;
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    top: 0;
    left: 0;
    transition: 1s;
}

.shirt {
    position: relative;
    height: 300px;
    width: 230px;
}

.shirtback {
    height: 250px;
    width: 230px;
    top: 0;
    left: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 1s;
}

li {
    display: flex;
}

.shirt:hover .shirtfront {
    transform: rotateY(180deg);
}

.shirt:hover .shirtback {
    transform: rotateY(0deg);
}

.m:hover {
    background-color: brown;
}

.m1:hover {
    background-color: brown;
}

.m2:hover {
    background-color: brown;
}

.m3:hover {
    background-color: brown;
}

.m:hover .top {
    opacity: 1;
    z-index: 1;
}

.m1:hover .top {
    opacity: 1;
    z-index: 2;
}

.m2:hover .top {
    opacity: 1;
    z-index: 2;
}

.m3:hover .top {
    opacity: 1;
    z-index: 2;
}