* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.header {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-top: 50px;
    font-size: 20px;
}

.menubar {
    display: inline;
    margin-right: 50px;
}

.slider {
    display: grid;
    grid-template-columns: 30fr 70fr;
    padding-top: 50px;
}

.image {
    text-align: center;
    margin-left: 100px;
    /* border: 2px solid white; */
}

.text {
    text-align: center;
    padding-top: 50px;
    margin-top: 100px;
}

.web {
    color: rgb(209, 223, 90);
    font-size: 40px;
}

.web1 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.cv {
    background-color: rgb(112, 112, 5);
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.button {
    position: fixed;
    top: 10px;
    right: 5px;
    color: black;
    background: white;
    box-shadow: 2px;
    padding: 15px;
    border-radius: 50%;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 50px;
}

.abouttxt {
    color: white;
    text-align: center;
    padding-left: 100px;
}

.abouttext {
    display: grid;
    grid-template-columns: 30fr 70fr;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
}

.me {
    font-size: 60px;
    padding: 20px;
    color: yellow;
}

.aboutme {
    padding: 10px;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.me1 {
    color: grey;
}

.aboutimage {
    text-align: center;
    margin-left: 0px;
    /* border: 2px solid white; */
}